.AllItems{
    width: 800px;
    height: 800px;

    margin: 30px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .AllItems{
        width: 400px;
        height: 400px;

        margin: 30px auto;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}